@import url("main.css");

.tituloajuda {
    text-align: center;
    margin: 55px 0px;

}

.tituloajuda h1 {
    font-family: var(--texttitulo);
    font-size: clamp(1.5vw, 45px, 2.5vw);
    font-weight: 200;
}

.tituloajuda h2 {
    font-weight: 400;
    font-size: clamp(1vw, 25px, 2vw);
}

#listadefaq h2 {
    text-align: center;
    font-size: 35px;
    font-family: var(--texttitulo);
    width: 50%;
    border-bottom: 10px solid #7c7f7f41;
    margin: 0 auto;
}

.atalhos {
    margin: 65px 0px;
}

.listatalhos {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.listatalhos li {
    font-size: clamp(0.35vw, 20px, 2vw);
    background: #d7ac8f6e;
    border-radius: 15px;
    padding: 6px 0px;
    text-align: center;
    width: 23%;
}

.faqs {
    display: flex;
    margin: 50px 0px;
}

.categoriafaq {
    width: 25%;
    margin-left: 25px;
}

.categoriafaq ul {
    list-style: none;
    font-size: 45px;
    font-family: var(--texttitulo);

}

.categoriafaq li {
    font-size: clamp(0.55vw, 27px, 2.5vw);
    margin-bottom: 35px;
}

.categoriafaq ul li:hover {
    width: 70%;
    border-bottom: #7c7f7f5e 5px solid;
}

.perguntafaq {
    font-size: clamp(0.35vw, 18px, 3vw);
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.respostafaq {
    width: 70%;
    margin-left: 55px;
}

.respostafaq {
    margin-bottom: 65px;
}

.respostafaq details summary {}

#textchamado {
    max-width: 695px;
    padding: 10px;
    display: none;

}

.dadosdoenvio {
    border: 5px solid #EFE2DA;
    border-radius: 15px;
    width: 55%;
    padding: 25px;
    margin-left: 35px;
}



.titulo h2 {
    font-family: var(--texttitulo);
    font-weight: 400;
    font-size: clamp(1vw, 45px, 3vw);
    margin: 35px 0px;
}

.textusuario input {
    width: 90%;
    height: 30px;
    padding-left: 5px;
    outline: none;
    border: var(--secundaria) 1px solid;
    background: transparent;
}

.textusuario textarea {
    width: 90%;
    height: 100px;
    resize: none;
    outline: none;
    border: var(--secundaria) 1px solid;
    background: transparent;
    margin-top: 10px;
    padding-left: 5px;
    margin-right: -15px;
    padding-right: 15px;
    overflow-y: hidden;
    font-size: 20px;
}

.botaoenviar {
    display: flex;
    justify-content: right;
    width: 58%;
    margin: 25px 0px;

}

.botaoenviar button {
    border: solid 3px var(--secundaria);
    border-radius: 15px;
    padding: 5px 10px;
    width: 20%;
    background-color: #EFE2DA;
    color: var(--primaria);
    margin-bottom: 50px;
}