* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text);
}

:root {
    --primaria: #3CC845;
    --secundaria: #D7AC8F;
    --text: #2d2d2d;

}

:root {
    --textcorpo: "open sans";
    --texttitulo: "playfair display";
}

body {
    background-color: #f1f1f1;
    font-family: var(--textcorpo);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

#cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu ul li {
    padding-right: 45px;
    
}

#menu ul li a {
    font-size: 20px;
    color: #2d2d2d;
}

.icones a {
    display: inline-block;
    align-items: center;
    padding-right: 25px;
    color: var(--text);
}

#botaologin {
    align-items: center;
    background-color: var(--primaria);
    border-radius: 25px;
    padding: 3px 15px;
}

#formpesquisa {
    display: flex;

}

#formpesquisa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formicone {
    border: solid #2d2d2d 1px;
    padding: 4px 35px;
    border-radius: 35px;

}

.formicone i {
    justify-content: space-between;

}

.formicone input {
    padding-right: 55px;
    border: none;
    outline: none;
    margin: 0px 15px;
    background-color: #f1f1f1;
}

.formicone button {
    border: solid 3px var(--secundaria);
    border-radius: 15px;
    padding: 5px 15px;
    margin-right: 5px;
    background-color: #EFE2DA;
    color: var(--primaria);
    font-size: 15px;
}

#carrocel {

    padding-top: 35px;
    margin: auto;
}

.diferencial ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    z-index: 99999;
    margin-top: -46px;
    padding-bottom: 55px;
}

.diferencial ul li {
    background-color: #D3CAC5;
    border-radius: 10px;
    padding: 8px 35px;
    font-family: var(--texttitulo);
    font-size: 25px;
}


.secaotitulos {
    display: flex;
    justify-content: space-between;
    text-align: end;
   


}

.secaotitulos h2 {
    height: 65px;
    border-left: 8px solid var(--primaria);
    padding: 8px 15px;
    font-family: 'Alice';
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
}

.vermais {
    padding: 45px 25px;
    font-size: 20px;
    

}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 65px;
    gap: 20px;
    flex-grow: 1;
}

.cardprodutos {
    border: 4px solid #7C7F7F;
    border-radius: 30px;
    padding: -15px;


}

.imgcard {
    height: 180px;
    width: 180px;
}

.imgcard img {

    border: #7C7F7F 3px solid;
    border-radius: 25px;
    object-fit: cover;
    height: 180px;
    width: 180px;
}

.descricao {
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-size: 15px;
}

.estrela {
    padding: 5px 0px;
}

.descricao a {
    text-align: right;
    background-color: var(--primaria);
    margin-left: 85px;
    padding: 2px 8px;
    border-radius: 15px;
    font-size: 14px;
}

#secaocategorias {

    margin-bottom: 65px;
    margin-top: 5px;
    padding-top: 25px;
    background: #E3E8E8;

    height: 400px;

}

.listacategorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0px;
    gap: 20px;
}

.categorias {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.categorias img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin: 15px 0px;
    border-radius: 200px;
    border: var(--secundaria) 3px dashed;
}

.modalidade {
    text-align: center;
    font-size: 20px;
    padding: 10px 15px;
}

.formnews {

    padding: 35px;
}

.formcaixa {
    padding: 5px;
}

.formcaixa input {
    border: #D7AC8F dashed 2px;
    width: 30%;
    padding: 8px;
    background-color: #f1f1f1;
    outline: none;
}

::-webkit-input-placeholder {

    color: var(--text);
    font-size: 17px;
    padding: 10px;
}

.formnews button {
    margin: 15px 20px;
    border: solid 3px var(--secundaria);
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #EFE2DA;
    color: var(--primaria);
    font-size: 17px;
}

.modeloindica {
    display: flex;

    position: absolute;
    margin-left: 265px;
    margin-top: -367px;
    height: 430px;
}

#botaotopo {
    display: flex;
    justify-content: right;
}

#topo {

    border: solid 3px var(--secundaria);
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #EFE2DA;
    color: var(--primaria);
}

#rodape {
    border-top: solid 2px #C1CACA;
    margin-top: 25px;
}

#listarodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 35px 0px;
}

.colunarodape h2 {
    font-family: var(--texttitulo);
    font-weight: 550;
    padding-bottom: 25px;
}

.colunarodape ul li {

    font-size: 1em;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 10px;
}

.colunarodape ul li a:hover {
    color: var(--primaria);
}

.rede-sociais a {

    padding: 0px 5px;
}

.link-app img {
    padding: 35px 0px;
}

.copyright {

    text-align: center;
    padding-top: 35px;
}