@import url("main.css");

#perfilproduto {
    margin-top: 85px;
}

.tipocalcado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 130px;
}

.tipocalcado p {
    font-family: var(--texttitulo);
    font-size: 2vw;
    font-weight: 500;
}

.valor {
    margin-left: 180px;
    font-size: 2.5vw;
}

.linha {
    border-bottom: solid 5px var(--secundaria);
    margin: 15px 5px;
}

/* aqui vai é o carrocel de imagens */
.carrocelimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1,
.img3 {
    object-fit: cover;
    height: 350px;
    width: 350px;
    border: solid 7px #7C7F7F;
    border-radius: 35px;
}

.img1 {
    transform: translateX(30px);
}

.img2 {
    z-index: 2;
    width: 400px;
    height: 400px;
    border: solid 7px #7C7F7F;
    border-radius: 35px;
    object-fit: cover;
}

.img3 {
    transform: translateX(-30px);
}

/* aqui vai é o carrocel de imagens */



.tituloperfproduto {
    font-family: var(--texttitulo);
    font-weight: 500;
    font-size: 2rem;
    margin-left: 25px;
    margin-top: 35px;
}

.descricaoproduto p {
    width: 65%;
    word-wrap: break-word;
    margin-left: 25px;
    padding-top: 10px;
}

.numeracao {
    margin-bottom: 35px;
}

.numeracao ul {
    list-style: none;
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.numeracao ul li {
    border: solid 2px var(--secundaria);
    border-radius: 50%;
    padding: 15px;
    font-size: 16px;
    margin-left: 35px;
    align-items: center;
}

.numeracao ul li:hover {
    background-color: var(--secundaria);
}


.avaliacaoEbotao {
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin: 50px 25px;
}

.estrelaperfilproduto {
    font-size: 25px;
}

.botaocomprar {
    background-color: var(--primaria);
    padding: 10px 35px;
    border-radius: 25px;
 margin-right: 50px;
}

.botaocomprar a {
    color: rgb(255, 255, 255);
}

.comentario {
    background-color: #c1caca4b;
    margin: 55px 0px;
}

.vermais {
    display: flex;
    justify-content: right;
}

.usuariocomentando {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ss {
    display: flex;
    align-items: center;
}

.fotousuario {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
}

.fotousuario img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nomeusuario {
    padding-left: 10px;
}

.opiniao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.opiniao p {
    width: 620px;
    padding: 10px;
}