@import url("main.css");
@import url("blog.css");

#perfilproduto {
    margin-top: 85px;
}

.tipocalcado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 130px;
}

.coracaofavorito i {
    margin: 25px 0px;
}

.tipocalcado p {
    font-family: var(--texttitulo);
    font-size: Clamp(25px, 2.5vw, 35px);
    font-weight: 500;
}

.tipocalcado i {
    font-size: Clamp(25px, 3vw, 55px);
}

.valor {
    margin-left: 130px;
    font-size: Clamp(25px, 3vw, 45px);
    display: flex;

}

.parcelas {
    font-size: Clamp(20px, 1.7vw, 25px);
    padding-top: 25px;
    padding-left: 25px;
}

.linha {
    border-bottom: solid 5px var(--secundaria);
    margin: 5px 0px 35px 5px;
}

/* começo detalhes do calçado */
#detalhecalcado {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.fotoscalcado {
    width: 50%;
    display: flex;

}

.carrosselfotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.foto {
    height: 110px;
    width: 110px;
    margin: 10px 0px;
}

.foto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;

}

.imgdestaque {
    margin-left: 10px;
    height: 450px;
    width: 450px;
}

.imgdestaque img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

#detalhes {
    width: 50%;
}

.cor_e_compartilhar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cor-calcado p {
    font-size: Clamp(18px, 1.2vw, 25px);
}

.titolo_detalhes {
    font-size: Clamp(18px, 2vw, 25px);
    font-weight: 400;
}

.radio-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 5px;
    height: 50px;
    align-items: center;
}

#tamanho input[type='radio'] {
    display: none;
}

#tamanho label {
    font-size: Clamp(20px, 1.5vw, 22px);
    cursor: pointer;
    transform: translateY(1);

}

#tamanho input[type='radio']:checked+label {
    border: rgb(0, 0, 0) 2px solid;
    border-radius: 50%;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnperfilproduto {
    display: flex;
    justify-content: right;
    align-items: center;
}

.guia a {
    text-decoration: underline;
    color: #1b24db;
    font-size: Clamp(15px, 1.1vw, 18px);
}

.detalhes {
    margin: 15px 0px;
}

.detalhes p {
    font-size: Clamp(18px, 1.2vw, 25px);
    width: 550px;
    height: 115px;
    overflow: hidden;

}


#coresproduto {
    display: flex;
    width: 100%;
}

.coresdisponiveis {
    width: 50%;
}

.coresdisponiveis h2 {
    font-size: Clamp(25px, 2vw, 35px);
    font-family: var(--texttitulo);
    font-weight: 400;
    margin-bottom: 20px;
}

.corescalcados {
    display: flex;
    gap: 15px;
}

.calcadocor p {
    font-size: Clamp(17px, 1.3vw, 20px);
    text-align: center;
}
.imgmodelocor  {
    width: 90%;
    height: 100px;
   
}
.imgmodelocor img {
    width: 100%;
    height: 100%;
     border-radius: 10px;
    object-fit: cover;
}

#botaoesescolha {
    
   margin: 0 auto;
}

.btn-adiconar {
    margin-bottom: 35px;
    background-color: #7c7f7fa6;
    width: 450px;
    height: 50px;
    border-radius: 15px;
   
}
.btn-adiconar a{
    color: white;
  display: flex;
 justify-content: center;
padding: 12px 0px;
}
.estreladepoim{
    text-align: center;
    margin: 5px 0px;
}

/* final detalhes do calçado */